*~
*.swp
*.swo

trackObjectWithPF

!home/
home/*

!home/catkin_ws
home/catkin_ws/*

!home/catkin_ws/src
home/catkin_ws/src/*

!home/catkin_ws/src/panda_moveit

!home/.bashrc
!home/catkin_ws/src/CMakeLists.txt

