<?xml version="1.0"?>
 <robot name="myfirst">
 
   <material name="seagreen">
     <color rgba="0.18039 0.5451 0.341176 1"/>
   </material>
   
   <link name="base_link">
     <visual>
       <geometry>
         <cylinder length="0.111" radius="0.04"/>
       </geometry>
       <material name="seagreen"/>
     </visual>

     <inertial>
       <mass value="0"/>
       <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
     </inertial>

   </link>

 </robot>
