<?xml version="1.0"?>
 <robot name="myfirst">
 
   <material name="purple">
     <color rgba="0.57647059 0.43921569 0.85882353 1"/>
   </material>
   
   <link name="base_link">
     <visual>
       <geometry>
         <cylinder length="0.13" radius="0.025"/>
       </geometry>
       <material name="purple"/>
     </visual>

     <inertial>
       <mass value="0"/>
       <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
     </inertial>

   </link>

 </robot>
