<?xml version="1.0"?>
 <robot name="myfirst">
 
   <material name="golden">
     <color rgba="1 0.843 0 1"/>
   </material>
   
   <link name="base_link">
     <visual>
       <geometry>
         <cylinder length="0.12" radius="0.03"/>
       </geometry>
       <material name="golden"/>
     </visual>

     <inertial>
       <mass value="0"/>
       <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
     </inertial>

   </link>

 </robot>
