<?xml version="1.0"?>
 <robot name="cube">
   <material name="purple">
     <color rgba="0.57647059 0.43921569 0.85882353 1"/>
   </material>
   <material name="yellow">
     <color rgba="1.0 1.0 0.0 1"/>
   </material>
   <material name="blue">
     <color rgba="0.3 0.73137 0.888 1"/>
   </material>
   <link name="base_link">
     <visual>
       <geometry>
         <!-- <cylinder length="0.1000" radius="0.033829689025878906"/> -->
         <cylinder length="0.1000" radius="0.033829689025878906"/>
       </geometry>
       <material name="blue"/>
       <origin xyz="0 0 0" rpy="1.5707963 0 0"/>
     </visual>
     <inertial>
       <mass value="0"/>
       <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
     </inertial>
     
   </link>
 </robot>
