<?xml version="1.0"?>
 <robot name="myfirst">
   <material name="blue">
     <color rgba="0.2 0.63137 0.788 1"/>
   </material>
   <material name="light_green">
     <color rgba="0 1 0.498 1"/>
   </material>
   <material name="coral">
     <color rgba="1 0.498 0.3137 1"/>
   </material>
   <material name="red">
     <color rgba="0.99607843 0.21960784 0.00784314 1"/>
   </material>
   <link name="Parmesan">
     <visual>
       <geometry>
         <!-- <box size="0.16 0.21343700408935547 0.061"/> -->
         <mesh filename="Parmesan.obj" scale="1.2 1 1"/>
       </geometry>
       <material name="red"/>
       <origin xyz="0 0 0" rpy="0 0 0"/>
     </visual>
     <inertial>
       <mass value="0.5"/>
       <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
     </inertial>
   </link>
   
 </robot>
